<h1><%= @user.name %></h1>

<p><%= image_tag @user.image, size: "200x200" %></p>
<p><%= @user.hometown %></p>
<p><%= @user.email %></p>
<p><%= @user.bio %></p>
<p><%= @user.fav_cuisine %></p>
<small><%= @user.allergies %></small>
